@import "tailwindcss";

@theme {
  --color-mw-black: #0a0a0a;
  --color-mw-dark: #121212;
  --color-mw-zinc: #27272a;
  --color-mw-amber: #d97706;
  /* Amber-600-ish */
  --color-mw-orange: #f59e0b;
  --color-mw-white: #fafafa;
  --color-mw-grey: #a1a1aa;

  --font-sans: var(--font-saira), system-ui, sans-serif;
}

:root {
  --background: var(--color-mw-black);
  --foreground: var(--color-mw-white);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@keyframes pan-camera {
  0% {
    transform: scale(1.1) translate(0%, 0%);
  }

  50% {
    transform: scale(1.1) translate(-2%, 0%);
  }

  100% {
    transform: scale(1.1) translate(0%, 0%);
  }
}

.animate-pan-camera {
  animation: pan-camera 20s ease-in-out infinite;
}