@import "tailwindcss";

@theme {
  --color-mw-black: #0a0a0a;
  --color-mw-dark: #121212;
  --color-mw-zinc: #27272a;
  --color-mw-amber: #d97706; /* Amber-600-ish */
  --color-mw-orange: #f59e0b;
  --color-mw-white: #fafafa;
  --color-mw-grey: #a1a1aa;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-mw-black);
  --foreground: var(--color-mw-white);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
